b
ody {
    background-color: #f9f7fe;
    font-family: "Open Sans" sans-serif;
}
.background {
    background-image: url(Weather-photo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 70%;
    margin: 45px auto;
    padding: 20px;
    border-radius: 15px;
    height: 700px;
}